@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

:root {
  --bg-color: #121212;
  --second-bg-color: #202020;
  --text-color: #ffffff;
  --main-color: #b68362;
  --other-color: #8b8a91;
  --alt-color: #4b4b51;
  --ann-color: #c7c6d3;
  --mode-red: #c00000;

  --h1-font: 5rem;
  --h2-font: 3.8rem;
  --p-font: 1.1rem;
  --h4-font: 1.7rem;
  --h5-font: 1.5rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Questrial", sans-serif;
  /* overflow: hidden; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* hero section start  */

header {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  background-color: var(--text-color);
  z-index: 2;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px 20px;
  width: 1400px;
  margin: auto;
  font-family: "Questrial", sans-serif;
  font-weight: 500;
  font-style: normal;
  position: relative;
}

.logo-link {
  display: flex;
  gap: 40px;
  align-items: center;
}

.logo-link .nav-links {
  display: flex;
  gap: 30px;
}

.logo-link .nav-links a {
  text-transform: uppercase;
  font-size: 0.86rem;
  text-decoration: none;
  color: black;
  padding: 5px 0px;
  transition: all 0.3s ease;
}

.logo-link .nav-links a:nth-last-child(1) {
  text-transform: uppercase;
  font-size: 0.86rem;
  text-decoration: none;
  color: var(--mode-red);
}

.logo-link .nav-links a:hover {
  border-bottom: 1px solid var(--mode-red);
  padding-bottom: 5px;
}

.logo img {
  width: 160px;
}

.nav-button-image {
  display: flex;
  gap: 20px;
}

.nav-button-image button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 0.86rem;
  outline: none;
}

.nav-main-dropdown {
  position: absolute;
  height: fit-content;
  max-width: 200px;
  background-color: var(--text-color);
  top: 50px;
  right: 20px;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #80808065;
  display: none;
}

.nav-main-dropdown div {
  display: flex;
  gap: 10px;
  padding: 10px 10px;
  transition: all 0.3s ease;
  border-bottom: 1px solid #80808065;
}

.nav-main-dropdown div:hover {
  background-color: var(--mode-red);
  border-radius: 5px;
  color: var(--text-color);
}

.nav-main-dropdown button {
  color: var(--bg-color);
  border: none;
  font-size: 0.86rem;
  cursor: pointer;
  padding: 5px 10px;
  width: 100px;
  background-color: transparent;
  text-align: left;
  font-weight: 600;
  transition: all 0.3s ease;
}

.nav-main-dropdown button:hover {
  color: var(--text-color);
}

@media screen and (max-width: 1024px) {
  nav {
    width: 100%;
  }

  .logo-link .nav-links {
    display: none;
  }

  .nav-button-image button:nth-of-type(1),
  .nav-button-image button:nth-of-type(2),
  .nav-button-image button:nth-of-type(3) {
    display: none;
  }

  .nav-button-image button:nth-of-type(4) {
    display: block;
  }

}

@media screen and (max-width: 768px) {
  nav {
    width: 100%;
  }

  .logo-link .nav-links {
    display: none;
  }

  .nav-button-image button:nth-of-type(1),
  .nav-button-image button:nth-of-type(2),
  .nav-button-image button:nth-of-type(3) {
    display: none;
  }

  .nav-button-image button:nth-of-type(4) {
    display: block;
  }

}

@media screen and (max-width: 412px) {
  header {
    width: 100%;
  }

  nav {
    width: 100%;
  }

  .logo img {
    width: 100px;
  }

  .logo-link .nav-links {
    display: none;
  }

  .nav-button-image button:nth-of-type(1),
  .nav-button-image button:nth-of-type(2),
  .nav-button-image button:nth-of-type(3) {
    display: none;
  }

  .nav-button-image button:nth-of-type(4) {
    display: block;
  }

}

/* Hero seaction end  */

/* product description start  */


.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 100px 30px;
  width: 1200px;
  margin: auto;
  height: 600px;
}

.product-image-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image-container img {
  padding: 20px;
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-details h1 {
  font-size: var(--h4-font);
  color: var(--bg-color);
}

.product-details p:nth-of-type(1) {
  color: var(--other-color);
}

.product-price-div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.product-price-div span:nth-of-type(1) {
  color: var(--bg-color);
  font-size: var(--h4-font);
  font-weight: bold;
}

.product-price-div span:nth-of-type(2) {
  color: var(--other-color);
}

.product-price-div span:nth-of-type(3) {
  color: var(--mode-red);
  text-decoration: line-through;
}

.product-details #product-store {
  color: var(--other-color);
  font-size: clamp(0.8rem, 1vw, 1rem);
  color: var(--main-color);
}

.product-details p:nth-of-type(3) {
  color: var(--other-color);
  width: 80%;
}

.product-btn {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.product-btn button {
  padding: 10px 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
}

.product-btn button:hover {
  background-color: var(--mode-red);
}


@media screen and (max-width: 1024px) {
  .product-container {
    width: 100%;
    gap: 50px;
    padding: 50px 30px;
  }

  .product-image-container {
    width: 50%;
  }

  .product-image-container img {
    width: 300px;
  }

  .product-details {
    width: 50%;
  }

  .product-details h1 {
    font-size: var(--h5-font);
  }

  .product-details p:nth-of-type(1) {
    font-size: 0.9rem;
  }

  .product-price-div span:nth-of-type(1) {
    font-size: var(--h5-font);
  }

  .product-details #product-store {
    font-size: 0.9rem;
  }

  .product-details p:nth-of-type(3) {
    font-size: 0.9rem;
  }

  .product-btn {
    flex-direction: column;
    gap: 10px;
  }

  .product-btn button {
    width: 100%;
  }

}

@media screen and (max-width: 412px) {
  .product-container {
    width: 100%;
    flex-direction: column;
    /* gap: 50px; */
    padding: 100px 30px;
    height: auto;
  }

  .product-image-container {
    width: 100%;
  }

  .product-image-container img {
    width: 350px;
  }

  .product-details {
    width: 100%;
  }

  .product-details p:nth-of-type(3) {
    width: 100%;
  }

}











/* ......footer section............. */
#footersection {
  max-width: 1400px;
  margin: auto;
  box-sizing: border-box;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 50px 15px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  #footersection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 20px;
  }

  #footersection>div:nth-of-type(1) {
    margin-bottom: 30px;
  }

  #footersection>div:nth-of-type(3) {
    margin-bottom: 30px;
  }

  #footersection>div:nth-of-type(5) {
    grid-column: span 2;
  }

  #footersection>div:nth-of-type(6) {
    grid-column: span 2;
  }
}

@media (max-width: 400px) {
  #footersection>div:nth-of-type(1) {
    grid-column: span 2;
    margin-bottom: 30px;
  }

  #footersection>div:nth-of-type(2) {
    grid-column: span 2;
    margin-bottom: 30px;
  }

  #footersection>div:nth-of-type(3) {
    grid-column: span 2;
    margin-bottom: 30px;
  }

  #footersection>div:nth-of-type(4) {
    grid-column: span 2;
    margin-bottom: 30px;
  }

  #footersection>div:nth-of-type(5) {
    grid-column: span 2;
    margin-bottom: 30px;
  }

  #footersection>div:nth-of-type(6) {
    grid-column: span 2;
    margin-bottom: 30px;
  }
}

#logoflexoffooter {
  display: flex;
  align-items: center;
  gap: 35px;
}

#iconandtextcenter {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

#footersection a {
  text-decoration: none;
  line-height: 28px;
  color: var(--other-color);
}

#footersection a:hover {
  text-decoration: underline;
}

#footersection h4 {
  letter-spacing: 3px;
  padding-bottom: 10px;
}

#starttextandicons {
  display: flex;
  gap: 5px;
  margin-bottom: 8px;
}

#starttextandicons>p {
  background-color: var(--bg-color);
  height: 25px;
}

.forgraytheline {
  color: var(--other-color);
}

.forgraytheline:hover {
  text-decoration: underline;
}

#iconandtextcenter span {
  font-size: 18px;
  font-weight: 800;
}

#starttextandicons #halfhalfcolor {
  margin-left: -25px;
}

#halfhalfcolormaindiv {
  display: flex;
}

#halfhalfcolormaindiv>div:nth-of-type(1) {
  height: 25px;
  width: 12px;
  background-color: var(--bg-color);
}

#halfhalfcolormaindiv>div:nth-of-type(2) {
  height: 25px;
  width: 12px;
  background-color: rgb(234, 231, 231);
}

#newsletterform {
  display: flex;
  flex-direction: column;
}

#inputemailnewsletter {
  border: none;
  border-bottom: 1px solid var(--other-color);
  padding: 8px 2px;
  margin-top: 5px;
  margin-bottom: 15px;
}

#inputemailnewsletter::placeholder {
  font-size: 0.96rem;
}

#chekboxofmenwomen {
  display: flex;
  align-items: center;
  gap: 40px;
}

.checkboxoffotter {
  transform: scale(1.5);
  margin-left: 5px;
  margin-bottom: 20px;
}

.doubleelemnt {
  display: flex;
  align-items: start;
  gap: 10px;
}

.doubleelemnt label {
  font-weight: 500;
}

#submitbuttonofnewsletter {
  padding: 10px;
  font-size: 1rem;
  color: var(--bg-color);
  background-color: transparent;
  border: 1px solid var(--other-color);
  cursor: pointer;
}

#submitbuttonofnewsletter:hover {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.menwomen {
  margin-top: -2px;
}

#fotttersectioniconscontainer {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  #fotttersectioniconscontainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }

  #logowithcircularborder {
    justify-content: center;
    margin-bottom: 15px;
  }

  #fotttersectioniconscontainer> :nth-of-type(2) {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
}

#logowithcircularborder {
  display: flex;
  align-items: center;
  gap: 10px;
}

#logowithcircularborder>div:nth-of-type(1) {
  padding: 8px;
  border: 2px solid var(--bg-color);
  border-radius: 50%;
}

#logowithcircularborder h4 {
  font-size: 1.2rem;
}

#logowithcircularborder p {
  font-size: 14px;
}

#fotttersectioniconscontainer>div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

#fotttersectioniconscontainer a {
  text-decoration: none;
  font-weight: 500;
  padding: 5px;
  color: var(--bg-color);
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
}